<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/board.html}">
  <head>
      <meta charset="UTF-8">
      <title>List</title>
  </head>
  <body>
    <div layout:fragment="content">
      <div style="padding-top: 50px">
        <table class="table table-hover">
          <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성일</th>
            <th>조회</th>
            <th>글쓴이</th>
          </tr>
          <tr th:each="dto:${boardDTOList}">
            <td>[[${dto.bno}]]</td>
            <td><a th:href="|@{/board/view(bno =${dto.bno})}|">[[${dto.subject}]]</a></td>
            <td>[[${dto.name}]]</td>
            <td>[[${dto.addDate}]]</td>
            <td>[[${dto.hit}]]</td>
          </tr>
        </table>
      </div>

    </div>
  </body>
</html>